#root {
  max-width: 1280px;
  margin: 0 auto; 
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
    position: relative; /* Default positioning */
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    background: linear-gradient(to top right, #d6ccc2, #eeeae6);
    font-family: 'Poppins', sans-serif;
    place-items: center;
}

.container {
  position: relative; 
  z-index: 2; 
  grid-template: 
  
  "header    header        header" 300px
  "left-menu main-content  right-menu" 1fr
  "footer    footer        footer" 1fr/
   1fr       1fr           300px;
}

.back-border {
  position: relative;
  border: 4px solid #186049;
  border-radius: 3px;
  z-index: 3; 
  margin: 30px -290px -100px -300px;
}

.h1{
  display: grid;
  grid-area: header;
  font-size: 50px;
  padding-left: 40px;
  color: #186049;
}

.h3{
  display: grid;
  grid-area: header;
  margin-top: -35px;
  padding-left: 43px;
  color: #186049;
}

a {
  background-image: linear-gradient(
    to right,
    #8a8a8a,
    #186049 50%,
    #186049 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background: #8a8a8a;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}

.active .li-items {
  color: rgb(138, 138, 138);
}

.ul{
  display: grid;
  grid-area: left-menu;
  list-style: none;
  margin-top: 100px;
  max-width: 90px;
}

.li-items{
  display: grid;
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 15px;
  color: #186049;
}

.li-items:hover{
  color: #186049;
}

.right-menu{
  display: grid;
  grid-area: right-menu;
  color: #186049;
  margin-left: 1500px;
  margin-bottom: 17px;
  font-weight: bold;
  padding-left: 70px;
  padding-top: 40px;
  padding-right: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
}

.h2-contact{
  text-decoration: underline;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  border: 2px solid white;
  width: 100%; 
  max-width: 400px; 
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: -130px 0px 142px 730px;
  text-align: center; 
}

.input {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  width: calc(100% - 30px); 
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-button {
  background-color: #186049; 
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  border: none;
  width: calc(100% - 30px);
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.form-button:hover {
  background-color: darkgrey; 
}

/* info */

.icons-container{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, 80px);
  margin-left: 760px;
  margin-top: -100px;
}

.info-title{
  color: #186049;
  text-align: center;
}

p {
  color: #333; 
  background-color: #fff; 
  font-family: 'Montserrat', sans-serif; 
  padding: 20px; 
  margin: 0px 50px 87px 480px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  max-width: 800px; 
  line-height: 1.6; 
  font-size: 1rem; 
  border: 1px solid #ddd; 
  z-index: 10; 
  position: relative;
}

/* project */

.project-right-content{
  margin-bottom: 120px;
}

.right-title{
  color: #186049;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif; 
  text-align: end;
  padding-right: 60px;
}

.right-li{
  color: #186049;
  list-style: none;
  text-align: end;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif; 
  padding-right: 60px;
 text-align: end;
}

.right-sub-li{
  color: #186049;
  list-style: none;
  text-align: end;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; 
  text-align: end;
  padding-right: 60px;
  margin-bottom: 20px;
}

.img-container{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 10px;
  margin-left: 200px;
  margin-top: -200px;
  padding-bottom: 20px;
  overflow-y: scroll;
}

.snippet-img{
  border: 3px solid #186049;
  border-radius: 5px;
}