#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
} 

:root{
  --light: #f7e9da;
  --black: #171818;
}

body.light-mode {
  background-color: var(--light);
}

body.dark-mode {
  background-color: var(--black);
}

html {
  box-sizing: border-box;
}

body {
  margin: 10px;
  padding: 0;
  border: 4px solid #186049;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: -1;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  z-index: 2;
  grid-template:
    "header    header        header" 300px
    "left-menu main-content  right-menu" 1fr
    "footer    footer        footer" 1fr/
    1fr 1fr 300px;
}

.h1 {
  display: grid;
  grid-area: header;
  font-size: 50px;
  color: #186049;
  margin-left: 50px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.h1:hover {
  transform: scale(1.05);
  color: #186049;
}

.h3 {
  display: grid;
  grid-area: header;
  padding-left: 60px;
  color: #186049;
  transition: transform 0.3s ease, color 0.3s ease;
  text-shadow: none;
}

.h3:hover {
  transform: scale(1.05);
  color: #186049;
}

a {
  background-image: linear-gradient(
    to right,
    #8a8a8a,
    #186049 50%,
    #186049 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background: #8a8a8a;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

.active .li-items {
  color: rgb(138, 138, 138);
}

.ul {
  display: grid;
  grid-area: left-menu;
  list-style: none;
  margin-top: 100px;
  max-width: 90px;
}

.li-items {
  display: grid;
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 15px;
  color: #186049;
}

.li-items:hover {
  color: #186049;
}

.dark-mode-container{
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 15px;
  color: #186049;
}

.dark-mode-btn{
  color: white;
  border: #186049 2px solid;
  background-color: #186049;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
}

.right-menu {
  display: grid;
  grid-area: right-menu;
  color: #186049;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  justify-content: end;
  margin: 0px 20px 40px 0px;
}

.h2-contact {
  text-decoration: underline;
}

.welcome-contact {
  display: grid;
  color: white;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  border: #186049 2px solid;
  background: rgb(23, 97, 73, 0.9);
  width: fit-content;
  margin-left: 620px;
  border-radius: 10px;
  padding: 10px;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.form-icons {
  perspective: 1000px;
}

.form-icons:hover {
  animation: flip 0.6s ease-in-out 1;
}

.contact-section {
  display: grid;
  grid-template-rows: auto auto; /* Define two rows, one for icons and one for form */
  gap: 50px; /* Add some space between the rows */
  margin-top: -200px;
  margin-bottom: 50px;
}

.form-icons {
  display: grid;
  grid-template-columns: repeat(2, auto); /* Define two columns for the icons */
  justify-content: center; /* Center the icons horizontally */
  grid-gap: 20px;
}

.form-container {
  display: grid;
  row-gap: 20px;
  border: 2px solid white;
  width: 100%;
  height: 100%;
  max-width: 400px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  margin-top: -50px;
  margin-left: 720px;
  margin-bottom: 50px;
}

.input {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  width: calc(100% - 30px);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-button {
  background-color: #186049;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  border: none;
  width: calc(100% - 30px);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: darkgrey;
}

/* info */
.icons-container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, 80px);
  margin-left: 760px;
  margin-top: -100px;
}

.info-title {
  color: #186049;
  text-align: center;
}

p {
  color: #333;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  margin: 0px 50px 95px 510px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  line-height: 1.6;
  font-size: 1rem;
  border: 1px solid #ddd;
  z-index: 10;
  position: relative;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.icons-container {
  perspective: 1000px;
}

.icons-container img:hover {
  animation: flip 0.6s ease-in-out 1;
}

/* project */
.project-right-content {
  margin-bottom: 128px;
}

.right-title {
  color: #186049;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-align: end;
  padding-right: 60px;
}

.right-li {
  color: #186049;
  list-style: none;
  text-align: end;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  padding-right: 60px;
  text-align: end;
}

.right-sub-li {
  color: #186049;
  list-style: none;
  text-align: end;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: end;
  padding-right: 60px;
  margin-bottom: 20px;
}

.snippet-info {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  color: #186049;
  margin-left: 550px;
  margin-right: 200px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.snippet-info:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.img-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 80%;
  grid-gap: 40px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.image-box {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: rgb(255, 255, 255, 0.5);
  margin-left: 350px;
  padding: 40px 50px 80px 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.snippet-img {
  width: 100%;
  max-width: 100%;
  grid-row: 1;
  border-radius: 10px;
}

.image-text-header {
  color: #186049;
  font-weight: bold;
  font-size: 26px;
  margin: 10px 0px;
  grid-row: 2;
}

.image-text1 {
  display: grid;
  grid-row: 2;
  color:#186049;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 60px;
  grid-row: 3;
  border-radius: 15px;
  width: fit-content;
  padding: 5px;
}

.image-text2 {
  display: grid;
  grid-row: 2;
  color:#186049;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 120px;
  grid-row: 3;
  border-radius: 15px;
  width: fit-content;
  padding: 5px;
}

.image-text3 {
  display: grid;
  grid-row: 2;
  color:#186049;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 60px;
  grid-row: 3;
  border-radius: 15px;
  width: fit-content;
  padding: 5px;
  
}

/* media */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .form-container {
    max-width: 400px;
    padding: 30px;
    margin: 0px 0px 150px 500px;
  }
  .welcome-contact {
    margin-left: 400px;
  }
  .contact-section {
    display: grid;
    grid-template-rows: auto auto; /* Define two rows, one for icons and one for form */
    gap: 20px; /* Add some space between the rows */
    margin-top: -300px;
    margin-bottom: 80px;
  }
  .form-icons {
    display: grid;
    grid-template-columns: repeat(
      2,
      auto
    ); /* Define two columns for the icons */
    justify-content: center; /* Center the icons horizontally */
    grid-gap: 20px;
  }
  .form-container {
    display: grid;
    row-gap: 0px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 490px;
    margin-bottom: 0px;
  }
  .icons-container {
    margin-left: 480px;
    grid-template-columns: repeat(5, 100px);
  }
  p {
    margin: 20px auto;
    max-width: 800px;
  }
  .snippet-info {
    margin: 0px 0px 0px 340px;
  }
  .image-text-header {
    color: #186049;
    font-weight: bold;
    font-size: 26px;
    margin: 10px 0px;
    grid-row: 2;
  }
  .image-box {
    background-color: rgb(255, 255, 255, 0.5);
  }
  .image-text1 {
    display: grid;
    grid-row: 2;
    color:#186049;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0px;
    grid-row: 3;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    padding: 5px;
  }
  
  .image-text2 {
    display: grid;
    grid-row: 2;
    color:#186049;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0px;
    grid-row: 3;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    padding: 5px;
  }
  
  .image-text3 {
    display: grid;
    grid-row: 2;
    color:#186049;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0px;
    grid-row: 3;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    padding: 5px;
    
  }
}

@media only screen and (max-width: 1024px) {
  #root,
  .container,
  .back-border {
    margin: auto;
    margin-right: 10px;
  }
  .right-menu {
    margin-left: 380px;
    margin-bottom: 80px;
    width: 600px;
  }
  .welcome-contact {
    margin-left: 190px;
  }
  .contact-section {
    gap: 20px; /* Add some space between the rows */
    margin-top: -300px;
    margin-bottom: 80px;
  }
  .form-icons {
    grid-gap: 20px;
    margin-bottom: 25px;
  }
  .form-container {
    padding: 20px;
    margin-left: 275px;
    margin-bottom: 0px;
  }
  a {
    margin-bottom: 13px;
  }
  .icons-container {
    margin-left: 330px;
    margin-top: 0px;
  }
  p {
    margin: 0px 50px 135px 80px;
    max-width: 800px;
  }
  .img-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 10px;
    margin-top: 50px;
    padding-bottom: 20px;
    overflow-y: scroll;
  }
  .image-box {
    background-color: rgb(255, 255, 255, 0.5);
    margin: 0px 0px 0px 220px;
  }
  .snippet-info {
    margin: 0px 0px 0px 220px;
  }
  .image-text-header {
    color: #186049;
    font-weight: bold;
    font-size: 26px;
    margin: 10px 0px;
    grid-row: 2;
  }
  
  .image-text1 {
    display: grid;
    grid-row: 2;
    color:#186049;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0px;
    grid-row: 3;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    padding: 5px;
  }
  
  .image-text2 {
    display: grid;
    grid-row: 2;
    color:#186049;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0px;
    grid-row: 3;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    padding: 5px;
  }
  
  .image-text3 {
    display: grid;
    grid-row: 2;
    color:#186049;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0px;
    grid-row: 3;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    padding: 5px;
    
  }
}

@media only screen and (max-width: 600px) {
  #root {
    max-width: 600px;
  }
  .right-menu {
    display: grid;
    font-size: 17px;
    width: 450px;
    justify-content: end;
    margin-left: 50px;
  }
  .form-container {
    max-width: 400px;
    padding: 30px;
    margin: 20px 0px 190px 50px;
  }
  .project-right-content {
    display: grid;
    justify-content: end;
    margin-left: 200px;
  }
  .right-title {
    padding: 0px;
  }
  .right-sub-li {
    padding: 0px;
    margin-left: 30px;
  }
  .right-li {
    padding: 0px;
  }
  .welcome-contact {
    margin-left: 70px;
    margin-right: 40px;
  }
  .contact-section {
    gap: 20px; /* Add some space between the rows */
    margin-top: 0px;
    margin-bottom: 80px;
  }
  .form-icons {
    grid-gap: 20px;
    margin-bottom: -30px;
  }
  .form-container {
    padding: 20px;
    margin-left: 65px;
    margin-bottom: 0px;
  }
  .icons-container {
    margin-left: 100px;
    margin-top: 20px;
  }
  .info-title {
    margin-left: 40px;
  }
  p {
    margin: 0px 50px 135px 85px;
    max-width: 800px;
  }
  .img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    margin: 0px 0px 30px 35px;
    width: 100%;
  }
  .image-box {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: rgb(255, 255, 255, 0.5);
    margin-left: 0px;
    margin-right: 50px;
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
  }
  .snippet-img {
    width: 500px;
    grid-row: 1;
  }
  .snippet-info {
    margin: 0px 50px 0px 5px;
  }
}

@media only screen and (max-width: 450px) {
  #root {
    max-width: 450px;
  }
  .h1 {
    font-size: 40px;
    margin-left: 20px;
  }
  .h3 {
    padding-left: 20px;
  }
  .right-menu {
    display: grid;
    font-size: 17px;
    width: 350px;
    justify-content: center;
    margin-left: 30px;
  }
  .ul {
    padding-left: 20px;
  }
  .right-title {
    padding: 0px;  
  }
  .right-sub-li {
    padding: 0px;
    margin-left: 30px;
  }
  .right-li {
    padding: 0px;
  }
  .form-container {
    max-width: 80%;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 20px 50px;
  }
  .input,
  .form-button {
    padding: 10px;
    width: calc(100% - 40px);
  }
  a {
    display: grid;
  }
  .icons-container {
    display: grid;
    justify-content: center;
    margin-right: 50px;
  }
  p {
    margin: 0px 45px 135px 80px;
    max-width: 400px;
  }
  .img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    margin: 0px 0px 30px 35px;
    width: 100%;
  }
  .left-menu{
    grid-area: left-menu;
  }
  .welcome-contact {
    margin: 0px 10px 0px 30px;
  }
  .image-box {
    grid-template-rows: auto 1fr;
    background-color: rgb(255, 255, 255, 0.5);
    margin-left: 0px;
    margin-right: 50px;
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
  }
  .snippet-img {
    width: 500px;
    grid-row: 1;
  }
}
@media only screen and (max-width: 390px) {
  .right-menu {
    font-size: 14px;
    margin: 30px 0px 20px 60px;
    width: 245px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 20px;
    max-width: 390px;
  }
  .form-container {
    margin: 20px 20px 20px 40px;
  }
  .icons-container {
    display: grid;
    grid-template-columns: repeat(5, 70px);
    justify-content: center;
    margin-right: 60px;
  }
  .info-title {
    margin-right: 40px;
  }
  p {
    margin: 0px 70px 50px 20px;
    width: 280px;
    max-width: 390px;
  }
  .image-box{
    background-color: rgb(255, 255, 255, 0.5);
  }
  @media only screen and (max-width: 350px) {
    .h1 {
      font-size: 40px;
      margin-left: 20px;
    }
    .h3 {
      padding-left: 20px;
    }
    .ul {
      padding-left: 20px;
    }
    .right-menu {
      display: grid;
      text-align: center;
      font-size: 15px;
      width: 230px;
      margin-bottom: 20px;
      margin-right: 20px;
      margin-left: 50px;
    }
    .right-title {
      padding: 0px;
    }
    .right-sub-li {
      font-size: 15px;
      padding: 0px;
      margin-left: 30px;
    }
    .right-li {
      font-size: 31px;
      padding: 0px;
    }
    .icons-container {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(5, 60px);
      margin-right: 60px;
    }
    .info-title {
      margin-right: 20px;
    }
    p {
      margin: 0px 45px 135px 15px;
      max-width: 250px;
    }
    .img-container {
      margin: 0px 0px 30px 35px;
      width: 100%;
    }
    .image-box {
      display: grid;
      grid-template-rows: auto 1fr;
      background-color: rgb(255, 255, 255, 0.5);
      margin-left: 0px;
      margin-right: 50px;
      padding: 20px 20px 30px 20px;
      border-radius: 20px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      align-items: center;
      text-align: center;
    }
    .welcome-contact {
      margin: 0px 0px 0px 20px;
    }
    .snippet-img {
      width: 300px;
      grid-row: 1;
    }
  }
}